/*FONTS
font-family: 'Oswald', sans-serif;
font-family: 'PT Serif', serif;

font-family: 'Pacifico', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Yesteryear', cursive;

*/



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html {
	scroll-behavior: smooth;
	position: relative;
}


/*landing page*/

.jumbotron h1 {
	font-family: 'Oswald', sans-serif;
	color: #f2f2f2;
	font-size: 60px;
}

/*h1::first-letter {
	font-family: 'Pacifico', cursive;
	font-size: 90px;
}
*/

.jumbotron hr {
	background-color: #fff;
} 

.btn a {
	text-decoration: none;
	color: #fff;
}

/*.text-center {
	text-shadow: 2px 2px 5px black;
	color: white;
	font-family: 'Yesteryear', cursive;
	font-size: 40px;
	font-stretch: condensed;
	word-spacing: 5px;
}
*/
.btn-primary {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.fa-eye {
	text-shadow: 2px 2px 5px black;
}

.my-4 {
	opacity: 0;
	padding: 2rem;
}



/*home*/


/*end home*/


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.carousel-img {

}


.card-deck {
	margin: 20px;
	margin-top: 35px;
}

.card {
	margin-bottom: 20px;
}

.card img {
    height: 15rem;
    object-fit: cover;
}


.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}


.active {
/*	background-color: indianred;*/
	border-bottom: 2px solid white;
}


.about-tags {
	font-weight: bold;
	font-family: 'Yesteryear', cursive;
	font-stretch: condensed;
}

.footer {
	margin-top: 30px;
}



#jumbo-land {
	height: 100vh;
	background-color: #333; /*off-black*/
	padding-top: 10%;
	border-radius: 0;
	background-image: url('../images/concert-1.jpg');
	background-size: cover;
}


#jumbotron-about {
    position: relative;
    z-index: 1;
    background: url(../images/concert-1.jpg) center center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#i-concert {
/*	margin-right: 30px;*/
	margin-bottom: -30px;
	letter-spacing: 5px;
	font-size: 110px;
	text-shadow: 2px 2px 5px black;
	color: white;
	font-stretch: condensed;
	word-spacing: 5px;
}


#i-concert-sub {
	z-index: 1;
	text-shadow: 2px 2px 5px black;
	color: white;
	font-family: 'Yesteryear', cursive;
	font-size: 40px;
	font-stretch: condensed;
	word-spacing: 5px;
}



#btn-eye {
	text-shadow: 2px 2px 5px black;
	color: white;
	font-size: 12px;
	word-spacing: 0;
}

#home-landing {
	background-color: #333;
	/*background-color: rgba(255, 255, 255, 0.6), url('../images/concert-1.jpg');*/
	color: #fff;
	padding: 20%;
}


#home-landing {
    position: relative;
    z-index: 1;
    background: url(../images/concert-1.jpg) center center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/*end landing page*/


/*start home page*/

#cf-img {
	background-image: url('../assets/images/concert-1.jpg');
}

#carousel-home {
	height: 90vh;
}

#carousel-home img {
	height:70vh;
	max-height: 70vh;
}


/*end home page*/






/*start about page*/

#jumbotron-about {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 	0;
}

#landing-about {
	color: #f2f2f2; /*white*/
	font-size: 5em; /*1em=16px*/
	letter-spacing: 15;
	font-family: 'Yesteryear', cursive;
	padding: 20vh;
	margin-bottom: -30px;
	letter-spacing: 5px;
	font-size: 110px;
	text-shadow: 2px 2px 5px black;
	color: white;
	font-stretch: condensed;
	word-spacing: 5px;
}

#mission {
	height: 100%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off-white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}


/*end about page*/



/*start gallergy page*/

#head-gall {
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: .5em;
	background-color: #141414;
	color: #f2f2f2;
}


#gallery-items {
	
}










/*SIGN UP MODAL*/

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */




/*end gallery page*/







/*mobile view*/



@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}



@media only screen and max-width: 400px {
	
	.col-md-4 {
		display: none;
	}
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
	h1 {
		background-color: ;
	}

	.nav {
		background-color: ;
	}
	
	.col-md-4 {
		display: none;
	}
}

/*desktop view*/
@media only screen and (min-width: 961px) {

}